/* Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@mojorge 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


WebDevSimplified
/
JavaScript-Quiz-App
6
36
64
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
JavaScript-Quiz-App/styles.css
@WebDevSimplified
WebDevSimplified Final Video:
Latest commit d4a5463 on Jun 8, 2019
 History
 1 contributor
85 lines (72 sloc)  1.24 KB
   */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

[class*="col-"] {
  float: left;
  padding: 1px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

form {
  margin: 5px;
}

.container {
  width: 1200px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.header {
  margin-left: 5vw;
  margin-right: auto;
  width: 15vw;
}

.controls {
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.divider {
  height: 15px;
}

nav {
  color: white;
}

header {
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: Black;
}

.add-contact {
  color: blue;
}

 {
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #4197d2;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color: #4197d2;
}

.navbar-dark {
  background-color: #183549;
}

.tab-content {
  border-left: 1px solid #48484e;
  border-right: 1px solid #48484e;
  border-bottom: 1px solid #48484e;
  padding: 10px;
}

.mySlides1,
.mySlides2 {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  min-width: 450px;
  max-width: 450px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 150px;
  width: auto;
  padding: 16px;
  margin-top: 0px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #14a1de9c;
  color: black;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.01s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.01s ease;
  opacity: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middletwo {
  transition: 0.01s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 1;
  background-color: #ffffff25;
}

.container:hover .middle {
  opacity: 1;
}
